<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FromDB" connectionString="Data Source=JOY-PC\SQL2008;Initial Catalog=ShopRMGONLINEmcraft;Persist Security Info=True;User ID=mediasoft;Password=Msdsl2012" providerName="System.Data.SqlClient"/>
    <add name="ToDB" connectionString="Data Source=JOY-PC\SQL2008;Initial Catalog=ShopRMGONLINEmcraft;Persist Security Info=True;User ID=mediasoft;Password=Msdsl2012" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

  
</configuration>


